.frame {
  position: relative;
  width: 400px;
  height: 500px;
}
.nazev {
  display: inline-block;
  position: absolute;
  font-family: fantasy;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  top: 12px;
  left: 170px;
}
.reklam {
  display: inline-block;
  position: absolute;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  top: 110px;
  left: 110px;
}
.saty {
  display: inline-block;
  position: absolute;
  opacity: 0;
  width: 40%;
  top: 150px;
  left: 80px;
}
.description {
  display: inline-block;
  position: absolute;
  color: red;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  top: 340px;
  left: 65px;
}
.sleva {
  display: inline-block;
  position: absolute;
  color: white;
  font-size: 30px;
  background-color: red;
  border-radius: 50%;
  top: 140px;
  left: 310px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
}
.platba {
  display: inline-block;
  position: absolute;
  background-color: aqua;
  font-weight: bold;
  color: blue;
  border-radius: 30%;
  top: 443px;
  left: 168px;
  height: 33px;
  width: 80px;
}
.platba:hover {
  background-color: red;
}
.platba:visited {
  background-color: yellow;
}
